*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        color:#d8d8d8;
        font-style: bold;
        text-decoration: none;
}


body{
        background-image: linear-gradient(15deg, #050505 0%, #1e1e1e 100%);
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
}

h1{
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        text-transform: lowercase;;
        filter: blur(0.08rem);
}
h1:hover{
        transition: ease-in-out 0.5s;
        color: aquamarine;
        cursor: pointer;
        rotate: 360deg;
}

h3{
        font-size: 0.75rem;
        font-weight: 300;
        color: #d8d8d8;
        position: relative;
        text-align: center;
        text-transform: lowercase;
        filter: blur(1.0px);
}

footer{
        position: fixed;
        filter:blur(1px);
        bottom: 0;
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
}
